body {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  float: left;
}
li {
  display: inline-block;
}

button {
  background-color: #fcc97d;
  border-color: #f8f1e6;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
}

button:hover {
  transition: all 200ms ease;
  background-color: #f8f1e6;
}

h1 {
  color: #4eae5a;
  line-height: 60px;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 600;
}

h6 {
  color: #1bb1ab;
  margin-bottom: 0px;
  font-size: 18px;
}

footer {
  font-size: 12px;
  margin-top: 25px;
  color: #424b5c;
}

.common-font {
  font-family: monospace;
}

.form-control {
  background-color: #f8f1e6;
  border-style: solid;
  border-color: #fcc97d;
  border-width: 2px;
  border-radius: 40px;
  margin-right: 0;
  width: 146px;
  line-height: 18px;
}

.date-time {
  text-align: right;
  color: #2c87d1;
  padding-left: 10px;
}
.select-degrees {
  position: relative;
  font-size: 20px;
  top: -3px;
  color: #f7724a;
}

.link {
  text-decoration: none;
  color: #59657b;
}
.link:hover {
  color: #2c87d1;
}

.big-icon {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.small-icon {
  width: 35px;
  top: -5px;
}

.h1-degrees {
  font-size: 45px;
  font-weight: 600;
  color: #f7724a;
  padding-left: 20px;
  position: relative;
  top: 14px;
}

.humidity-wind {
  color: #f7386c;
  padding-bottom: 30px;
  margin-bottom: 0px;
  font-size: 16px;
}

.day {
  text-align: left;
  color: #a74bbf;
  font-size: 18px;
}

.forecast-temperature {
  color: #a74bbf;
  font-size: 18px;
}

.container {
  margin: 0;
  padding: 10px 5px;
}

.body-container {
  max-width: 450px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #f7fbff;
  border-style: solid;
  border-color: #596bca;
  box-shadow: 2px 2px 7px #cccccc;
}

.icons-made-by {
  font-size: 10px;
  color: #424b5c;
}

#description {
  font-size: 20px;
}

#celsius,
#fahrenheit {
  text-decoration: none;
  color: #f7724a;
}

#celsius:hover,
#fahrenheit:hover {
  color: #a74bbf;
}

#celsius.selected,
#fahrenheit.selected {
  color: #a74bbf;
}
